.container{
    width: 80%;
    margin: 0 auto;
}

body{
    font-family:'Oswald', sans-serif;
    background-color: black;
}

header{
    height: 20px;
    padding: 15px;
    color: #FF00FF;
}

header a{
    color: #FF00FF;
    padding: 10px;
    text-decoration: none;
}
header nav{
    float: right;
    padding-top: px;
    
}

header h3{
    float: left;
}

#tree{
    background: url(../img/tumblr_o2gsgqAwTI1uaw99qo1_1280.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}
#tree h1{
    margin-left: 250px;
    padding-top: 250px;
    font-size: 80px;
    color: #FF00FF;
    
}
#tree p {
    margin-left: 450px;
    color: #FF00FF;
    font-size: 30px;
}

.tea{
    padding-top: 50px;
    float: left;
    margin-right: 25px;
}

.tea-leaf{
    float: left;
    width: 600px;
        color:#FF00FF;
    margin-top: 100px;
   
}

.pics{
    float: left;
    width: 2000px;
    height: 300px;
    padding-top: 70px;
    color: #FF00FF;
    
}

.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}
    
.smoking{
    float: left;
    clear: left;
    width: 275px;
    text-align: center;
}

.guitar{
    float: left;
    width: 275px;
    text-align: center;
}

.hat{
    float: left;
    width: 275px;
    text-align: center;
    
}

.eyes{
    float: left;
    width: 275px;
    text-align: center;
    
}

.big-picture{
    float: left;
    width: 1000px;
    color: #FF00FF;
    padding-top: 100px;
}

.legs{
    float: left;
    clear: left;
    width: 400px;
    padding-left: 40px;
    padding-right: 100px;
    text-align: center;
}

the-wall{
    float: left;
    padding-top: 100px;
    clear: left;
    width: 375px;
    text-align: center;
    padding-left: 100px;
    margin-left: 100px;
}