container {
    width: 80%;
    margin: 0 auto;
}

body {
    font-family: 'Oswald', sans-serif;
    background: black;
}

header {
    height: 20px;
    padding: 15px;
    color: #FF00FF;
}

header a {
    color: #FF00FF;
    padding: 10px;
    text-decoration: none;
}

header nav {
    float: right;
    padding-top: px;
}

header h3 {
    float: left;
    font-size: 20px;
}

#tree {
    background: url(../img/tumblr_o2gsgqAwTI1uaw99qo1_1280.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
}

#tree h1 {
    margin-left: 250px;
    padding-top: 250px;
    font-size: 80px;
    color: #FF00FF;
}

#tree p {
    margin-left: 450px;
    color: #FF00FF;
    font-size: 30px;
}

.tea {
    padding-top: 50px;
    float: left;
    margin-right: 25px;
}

.tea-leaf {
    float: left;
    width: 600px;
    color: #FF00FF;
    margin-top: 100px;
}

.tea-leaf h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    
}

.pics {
    float: left;
    width: 1250px;
    height: 350px;
    padding-top: 80px;
    color: #FF00FF;
}

.pics h1{
    font-size: 30px;
}

.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

.smoking {
    float: left;
    clear: left;
    width: 275px;
    text-align: center;
}

.guitar {
    float: left;
    width: 275px;
    text-align: center;
}

.hat {
    float: left;
    width: 275px;
    text-align: center;
}


.eyes {
    float: left;
    width: 275px;
    text-align: center;
    margin-left: 40px;
}

#big-picture div{
    float: left;
    width: 50%;
    height: 500px;
    
}


/*.big-picture {
    float: left;
    width: 1000px;
    color: #FF00FF;
    padding-top: 100px;
    padding-left: 50px;
    height: 500px;
}

.legs {
    float: left;
    clear: left;
    width: 400px;
    padding-left: 40px;
    padding-right: 100px;
    text-align: center;
}

the-wall {
    float: left;
    clear: left;
    width: 375px;
    /*padding-top: 100px;
    clear: left;
    
    text-align: center;
    padding-left: 100px;
    margin-left: 120px;*/
}

.zero {
    float: left;
    clear: left;
    height: 500px;
    width: 1000px;
    margin-left: 25px;
    background: url(../img/12729079_10206008140150309_1148028568888089071_n.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 80px;
}

.zero h1 {
    margin-left: 200px;
    padding-top: 150px;
    font-size: 50px;
    color: #FF00FF;
    font-weight: bold;
    margin-bottom: 70px;
}

.zero a {
    color: #FF00FF;
    background-color: black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    text-decoration: none;
}

.go {
    margin-left: 325px;
}