.container{
    width: 80%;
    margin: 0 auto;
}

body{
    font-family:'Oswald', sans-serif;
}

header{
    height: 20px;
    padding: 15px;
}
header nav{
    float: right;
    padding-top: px;
}

header h3{
    float: left;
}

#tree{
    background: url(../img/tumblr_o2gsgqAwTI1uaw99qo1_1280.jpg);
    height: 500px;
    background-position: center;
    
}
#tree h1{
    margin-left: 250px;
    padding-top: 250px;
    font-size: 80px;
    color: #FF00FF;
    
}
#tree p {
    margin-left: 450px;
    color: #FF00FF;
    font-size: 30px;
}

.tea{
    float: left
}

.tea-leaf{
    float: left;
    width: 600px;
        color:#FF00FF;
    margin-top: 70px;
}

.1126{
    float: left;
    clear: left;
}
