h1, p {
    font-family: cursive;
    color:black;
}
a {
    text-decoration: none;
    padding: 10px;
    font-weight: bold
    
    
}
body {
    width: 75%;
    margin: 0 auto;
    
}
nav{
    margin: auto;
    color: black;
}
img {
    margin:inherit;
}
nav{
    color: black;
}
div{
    background-color: blanchedalmond;
}

