#hero{
    text-align: center;
    margin-top: 50px;
    
}

.links{
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%), url('http://vignette3.wikia.nocookie.net/boondocks/images/2/28/Jazmine.jpg/revision/latest?cb=20140902010150');
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
        
}

 .links a {
     color: whitesmoke;
    font-weight: bold;
    
}

#body{
    margin-top: 60px;
    
    text-align: center;
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%), url('homework7/img/tumblr_nvi1ovWYXZ1uaw99qo1_1280.jpg');
}

#body h1{
    font-size: 50px;
    color: whitesmoke;
}
#body p{
    font-size: 30px;
    color: whitesmoke;
}


body {
    background: url(https://i.ytimg.com/vi/P_hAjJBH01o/maxresdefault.jpg);
    background-position: center;
    background-repeat: no-repeat;
    }
    