   .container {
    width: 80%;
    margin: 0 auto;
}

.pizza {
    background: url(img/pizza.png);
    height: 300px;
    background-repeat: no-repeat;
    width: 1070px;
}

.pizza h1 {
    background-color: black;
    width: 1070px;
    color: white;
    text-align: center;
    font-size: 40px;
}

.about p{
    font-size: 20px;
    
    
}

.about {
    text-align: center;
    width: 900px;
    margin-bottom: 80px;
    margin-left: 65px;
}

.about h1{
    font-size: 40px;
}

pics {
    float: left;
    width: 1070px;
}

.flag {
    float: left;
    margin-right: 60px;
}

.moped {
    float: left;
    margin-right: 60px;
}

.terrian {
    float: left;
}

.body{
    font-family: sans-serif;
}