div{
    background-color: #C0C0C0;
    width: 15%;
    float:left;
    clear: left;
}
.nasa{
    background-image: url(nasa-background.jpg);
    width: 850px;
    height:450px;
    
}
.white{
    color: white;
}
