div {
    background-color: #C0C0C0;
}

.nasa {
    background-image: url(nasa-background.jpg);
    width: 850px;
    height: 450px;
    color: white;
    font-size: 85px;
}

.social {
    float: left;
    height: 324px;
    width: 270px;
    padding: 20px;
}

.office {
    float: left;
    height: 324px;
    width: 270px;
    padding: 20px;
}

.contact {
    float: left;
    height: 324px;
    width: 270px;
    padding: 20px;
    }



button {
    background-color: black;
    color: white;
}