div{
    background-color: #C0C0C0;
    width: 25%;
    float:left;
    
}
.nasa{
    background-image: url(nasa-background.jpg);
    width: 850px;
    height:450px;
    color: white;
    font-size: 85px;
    
    

