html,
body {
    height: 100%;
    background-color: black;
}

html {
    font-size: 16px;
    font-family: sans-serif;
}

.title-3em {
    font-size: 7em;
}

.navbar {
    background-color: black;
}

#hero {
    margin-top: 50px;
    background: url(../img/Screen-Shot-2015-12-29-at-09-43-04.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: table;
    width: 100%;
    font-family: 'Sonsie One', cursive;
}

#hero > div {
    display: table-cell;
    vertical-align: middle;
}

#hero h1 {
    color: goldenrod;
    font-size: 5em;
    text-transform: uppercase;
}

.btn-action {
    padding: 10px 15px;
    border: 1px solid #000;
    color: #000;
}

.btn-action:hover {
    background: #000;
    color: #fff;
    text-decoration: none;
}

#map {
    background: #777;
    padding: 30px 0;
    color: #fff;
}

#info {
    padding: 30px 0;
}

#info div h2 {
    padding-top: 50px;
    color: goldenrod;
}

#info p {
    line-height: 24px;
    text-align: center;
    color: white;
}

#value {
    padding: 30px 0;
    background: black;
}

.img-caption {
    margin-top: 10px;
}

.img-caption date {
    font-style: italic;
    font-weight: bold;
}

#bar-link {
    text-align: center;
    height: 50px;
    background-color: goldenrod;
}

#bar-link a {
    padding-top: 80px;
    color: white;
    font-family: 'Sonsie One', cursive;
}

#footer {
    background: url(../img/tlsp.jpg);
    background-position: top;
    padding: 80px 0;
    max-height: 100%;
}

#footer h3 {
    margin-bottom: 50px;
    color: #fff;
}

.zero p {
    padding-bottom: 200px;
}


/*Phone*/

@media (max-width:768px) {
    .title-5em {
        font-size: 3.7em;
    }
    #hero h1 {
        font-size: 4em;
    }
    #value .col-xs-12:nth-child(2) {
        margin-top: 50px;
    }
    #footer .btn-action:last-child {
        margin-top: 30px;
    }
}


/*Tablet*/

@media (min-width: 769px) and (max-width: 992px) {
    .title-5em {
        font-size: 2.4em;
    }
    #hero h1 {
        font-size: 4.5em;
    }
    #value .col-xs-12:nth-child(2) {
        margin-top: 50px;
    }
}