container {
    width: 80%;
    margin: 0 auto;
}

.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

body {
    font-family: 'Oswald', sans-serif;
    background: black;
}

header {
    height: 20px;
    padding: 15px;
    color: #FF00FF;
}

header a {
    color: #FF00FF;
    padding: 10px;
    text-decoration: none;
}

header nav {
    float: right;
    padding-top: px;
}

header h3 {
    float: left;
    font-size: 20px;
}

#hero {
    background: url(../img/tumblr_o2gsgqAwTI1uaw99qo1_1280.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
}

#hero h1 {
    text-align: center;
    padding-top: 250px;
    font-size: 80px;
    color: #FF00FF;
}

#hero p {
    text-align: center;
    color: #FF00FF;
    font-size: 30px;
}

#space{
    padding: 50px 25px;
}

#space div{
    float: left;
    color: #FF00FF;
    
}

#space .tea{
    width: 38%
}

#space .tea img{
    width: 100%
}

#space .tea-leaf {
    margin-left: 30px;
    width: 55%;
}

#space .tea-leaf h3 {
    margin-top: 80px;
    font-size: 1.7em;
}

#space .tea-leaf p {
    margin-top: 30px;
    line-height: 25px;
}

#pics {
    padding: 25px 0;
    color: #FF00FF;
    width: 100%;
}

#pics div {
    float: left;
    width: 22%;
    text-align: center;
    margin-right: 28px;
}

#pics h1{
    font-size: 30px;
    font-weight: bold;
}

#big-picture {
    padding: 25px 0;
    color: #FF00FF;
    width: 100%;
}

#big-picture div {
    float: left;
    width: 47%;
    text-align: center;
    margin-right: 28px;
}

#big-picture p{
    width: 500px;
    margin-left: 65px;
    text-align: center;
}

#zero {
   text-align: center;
    background: url(../img/12729079_10206008140150309_1148028568888089071_n.jpg);
    background-position: top;
    background-repeat: no-repeat;
    padding-left: 80px;
    height: 500px;
}

#zero h1 {
    text-align: center;
    width: 900px;
    padding-top: 150px;
    padding-left: 130px;
    font-size: 50px;
    color: #FF00FF;
    font-weight: bold;
    margin-bottom: 30px;
}

#zero a {
    color: #FF00FF;
    background-color: black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 50px;
}

.go {
    margin-right: 140px;

