.small-box {
    padding: 40px;
}

.small-box h2 {
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 50px;
}

.small-box p {
    color: #DAA520;
    font-weight: bold;
}

#grow {
    background: url('../img/featured-image-3.jpg');
    background-repeat: no-repeat;
    height: 150px;
    width: 300px;
    margin-bottom: 10px;
    margin-right: 10px;
     
}

#plant {
    background: url('../img/featured-image-4.jpg');
    background-repeat: no-repeat;
    height: 150px;
    width: 300px;
}

#land {
    background: url('../img/featured-image-5.jpg');
    background-repeat: no-repeat;
    width: 600px;
    padding: 50px;
    float: left;
    height: 372px;
}

#land h3 {
    font-weight: bold;
    font-size: 20px;
    color: #DAA520;
}

#land h2 {
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 50px;
}

#land p {
    color: #fff;
}

#land a {
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    height: 25px;
    margin: 12px;
    padding: 10px;
}

#land a:first-child {
    background-color: #787878;
}

.margin-a {
    margin-top: 25px;
}

main {
   
    background-color: width: 1150px;
    height: 500px;
}

aside {
    float: left;
}

.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

.home {
    background: url(../img/1.jpg);
    width: 1500px;
    height: 700px;
    margin-top: 1px;
}

.home p {
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
    padding-left: 180px;
    padding-bottom: 15px;
}

.home h1 {
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 50px;
    padding-bottom: 15px;
}

.home h3 {
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    padding-left: 45px;
    padding-bottom: 25px;
}

.inside {
    margin-left: 425px;
    padding-top: 150px;
}

.home a {
    border: 0px solid #fff;
    width: 45px;
    height: 20px;
    text-transform: capitalize;
    color: #fff;
    background-color: #BFBF4E;
    font-family: sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 200px;
    font-weight: bold;
}

.nav-a {
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
    color: #BFBF4E;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

.nav-a a {
    color: #BFBF4E;
}
