body {
    width: 55%;
    margin: 0 auto;
}



image {
    width: 50%;
    height: inherit;
    }

tittle {
    font-size: 50px;
}

div {
    margin: auto;
    
}
    
}
main{
    background-color: darkblue;
    color: aliceblue;
    
}
nav{
    color: aliceblue;
}
header{
    background-color: cornflowerblue;
    color: white;
}
a {
    color:white;
    padding: 15px;
    
}