

aside {
    margin-left: 350px;
    width: 750px;
    margin-bottom: 80px;
}

.main {
    width: 400px;
    height: 425px;
    float: left;
    clear: left;
    background-color: #F0F0F0;
    margin-right: 40px;
    margin-left: 50px;
    padding: 10px;
}


}
.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}
.info {
    float: left;
    margin-right: 20px;
    margin-left: 50px;
    padding: 5px;
    clear: left;
}
.features {
    float: left;
    margin-right: 20px;
    margin-left: 50px;
}
.contact {
    float: left;
    margin-right: 20px;
    margin-left: 50px;
    
}


h1,
h3,
h2,
p,
li {
    color: gray;
    font-family: sans-serif;
}
.container{
    float: left;
    
    
    
}
a {
    color: black;
}

.two,.one{
    margin-bottom: 20px;
    background-color: #F0F0F0;
}
.three{
    background-color: #F0F0F0;
    
}


