.container {
   font-family: monospace;
}



.links{
    background-color: gray;
    font-weight: bold;
    color: white;
    
    
}

.links a{
    color: white;
    border-bottom: white solid 1px;
    list-style-type: none;
    
    
}


giant a {
    border:
}

