.container {
    width: 90%;
    margin: 0 auto;
    font-family: monospace;
}

.giant h2{
    width: 500px;
    
}


.zero{
    margin-left: 400px;
    font-weight: bold;
    padding-bottom: 30px;
    
}

.zero h1{
    padding-bottom: 20px;
}

.zero p{
    padding-bottom: 20px;
    font-size: 20px;
    
}

.links{
    background-color: gray;
    font-weight: bold;
    color: white;
    
    
}

.links a{
    color: white;
    border-bottom: white solid 1px;
    list-style-type: none;
    
}


giant a {
    border:
}

